<!doctype html>
<head>
    <title>Algo-> RAJ Hedging Logic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
          $('#myCheckboxfinnifty').change(function() {
                var isChecked = $(this).is(':checked');
                // Send an AJAX request to the server
                $.ajax({
                    type: 'POST',
                    url: '/fincheckboxchange',
                    data: JSON.stringify({ 'isChecked': isChecked }),
                    contentType: 'application/json',
                    success: function(response) {
                        // Handle the response from the server
                        console.log(response);
                    }
                });
            });
          $('#entryButton').click(function() {
            $.ajax({
                    url: '/entryFin',
                    success: function(response) {
                        
                        alert(response);
                    }
                });
            });
            $('#exitButton').click(function() {
            $.ajax({
                    url: '/exitFin',
                    success: function(response) {
                        
                        alert(response);
                    }
                });
            });
            
            function RajaupdateText() {
                $.ajax({
                    url: '/getprofitraja75410',
                    success: function(response) {
                        resulttext = response.text.split("~");
                        $('#dynamic-rajaposition1').text(resulttext[0]);
                        if (resulttext[1] != "0")
                        {
                          $('#dynamic-rajaqty1').text(resulttext[1]);  
                        }
                        else
                        {
                          $('#dynamic-rajaqty1').text("");  
                        }

                        if (resulttext[4] != "0")
                        {
                          $('#dynamic-rajaqty2').text(resulttext[4]); 
                        }
                        else
                        {
                          $('#dynamic-rajaqty2').text(""); 
                        }

                        if (resulttext[2] != "0")
                        {
                          $('#dynamic-rajapl1').text(resulttext[2]);
                        }
                        else
                        {
                          $('#dynamic-rajapl1').text("");
                        }

                        if (resulttext[5] != "0")
                        {
                          $('#dynamic-rajapl2').text(resulttext[5]);
                        }
                        else
                        {
                          $('#dynamic-rajapl2').text("");
                        }
                        $('#dynamic-rajaposition2').text(resulttext[3]);
                        $('#dynamic-rajaroim2m').text(resulttext[6]);
                        $('#dynamic-rajasl').text(resulttext[7]);
                        $('#dynamic-hrajasl').text(resulttext[7]);
                        $('#dynamic-hrajaroim2m').text(resulttext[8]+" & "+ resulttext[6]);
                        $('#dynamic-rajaroi').text(resulttext[8]);
                        $('#dynamic-rajacapital').text(resulttext[9]);
                        
                        
                    }
                });
            }

            // Update text initially
            RajaupdateText();

            // Update text every 2 seconds
            setInterval(RajaupdateText, 100);

            function amupdateText() {
                $.ajax({
                    url: '/getprofitraja75410',
                    success: function(response) {
                        resulttext = response.text.split("~");
                        $('#dynamic-rajaposition1').text(resulttext[0]);
                        if (resulttext[1] != "0")
                        {
                          $('#dynamic-rajaqty1').text(resulttext[1]);  
                        }
                        else
                        {
                          $('#dynamic-rajaqty1').text("");  
                        }

                        if (resulttext[4] != "0")
                        {
                          $('#dynamic-rajaqty2').text(resulttext[4]); 
                        }
                        else
                        {
                          $('#dynamic-rajaqty2').text(""); 
                        }

                        if (resulttext[2] != "0")
                        {
                          $('#dynamic-rajapl1').text(resulttext[2]);
                        }
                        else
                        {
                          $('#dynamic-rajapl1').text("");
                        }

                        if (resulttext[5] != "0")
                        {
                          $('#dynamic-rajapl2').text(resulttext[5]);
                        }
                        else
                        {
                          $('#dynamic-rajapl2').text("");
                        }
                        $('#dynamic-rajaposition2').text(resulttext[3]);
                        $('#dynamic-rajaroim2m').text(resulttext[6]);
                        $('#dynamic-rajasl').text(resulttext[7]);
                        $('#dynamic-hrajasl').text(resulttext[7]);
                        $('#dynamic-hrajaroim2m').text(resulttext[8]+" & "+ resulttext[6]);
                        $('#dynamic-rajaroi').text(resulttext[8]);
                        $('#dynamic-rajacapital').text(resulttext[9]);
                        
                        
                    }
                });
            }

            // Update text initially
            amupdateText();

            // Update text every 2 seconds
            setInterval(amupdateText, 100);
            
        });
    </script>
</head>
<html>
   <body>
     <main>
        
        <div class="container">
            <table class="table table-responsive table-striped table-bordered">
             
              <tbody>
                <tr>
                    <td><!--<button id="entryButton" class="btn btn-primary btn-lg px-4 gap-3" >Entry</button>--><div></div></td>
                    <td align="center" class="display-9 fw-bold text-primary"> HL Client Dashboard</td>
                    <td align="right"><!--<button id="exitButton" class="btn btn-primary btn-lg px-4 gap-3" >Exit</button>--></td>
                    
                </tr>
                
              </tbody>
            </table>
        </div>
        
        <div class="container">
          <table class="table table-responsive table-striped table-bordered">
            <thead>
              <tr>
                <th class="display-9 fw-bold text-primary">Client Code</th>
                <th class="display-9 fw-bold text-primary">Stop Loss</th>
                <th class="display-9 fw-bold text-primary">ROI & M2M</th>
              </tr>
              
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>Raja75410</td>
                  <td><div id="dynamic-hrajasl">Loading..</div></td>
                  <td><div id="dynamic-hrajaroim2m">Loading..</div></td>
              </tr>
              <tr>
                <td>AM44006</td>
                <td>Loading..</td>
                <td>Loading..</td>
              </tr>
              <tr>
                <td>TMilind</td>
                <td>Loading..</td>
                <td>Loading..</td>
             </tr>
             <tr>
              <td>Manohar</td>
              <td>Loading..</td>
              <td>Loading..</td>
           </tr>
              <!-- Add more rows as needed -->
            </tbody>
          </table>
      </div>
 <!-- Raja -->
<div class="container">
    <table class="table table-responsive table-striped table-bordered">
      <thead>
        <tr>
          <th class="display-9 fw-bold text-primary">Raja Capital</th>
          <th class="display-9 fw-bold text-primary">Stop Loss</th>
          <th class="display-9 fw-bold text-primary">ROI & M2M</th>
        </tr>
        <tr>
          <th><div id="dynamic-rajacapital">Loading..</div></th>
          <th><div id="dynamic-rajasl">Loading..</div></th>
          <th><div id="dynamic-rajaroim2m">Loading..</div></th>
        </tr>
        <tr>
          <th class="display-9 fw-bold text-primary">Positions</th>
          <th class="display-9 fw-bold text-primary">Quantity</th>
          <th class="display-9 fw-bold text-primary">P&L</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><div id="dynamic-rajaposition1">Loading..</div></td>
            <td><div id="dynamic-rajaqty1">Loading..</div></td>
            <td><div id="dynamic-rajapl1">Loading..</div></td>
        </tr>
        <tr>
            <td><div id="dynamic-rajaposition2">Loading..</div></td>
            <td><div id="dynamic-rajaqty2">Loading..</div></td>
            <td><div id="dynamic-rajapl2">Loading..</div></td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
</div>
<!-- AM -->
<div class="container">
  <table class="table table-responsive table-striped table-bordered">
    <thead>
      <tr>
        <th class="display-9 fw-bold text-primary">AM Capital</th>
        <th class="display-9 fw-bold text-primary">Stop Loss</th>
        <th class="display-9 fw-bold text-primary">ROI & M2M</th>
      </tr>
      <tr>
        <th><div id="dynamic-capital">Loading..</div></th>
        <th><div id="dynamic-sl">Loading..</div></th>
        <th><div id="dynamic-roi">Loading..</div></th>
      </tr>
      <tr>
        <th class="display-9 fw-bold text-primary">Positions</th>
        <th class="display-9 fw-bold text-primary">Quantity</th>
        <th class="display-9 fw-bold text-primary">P&L</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><div id="dynamic-position1">Loading..</div></td>
          <td><div id="dynamic-qty1">Loading..</div></td>
          <td><div id="dynamic-pl1">Loading..</div></td>
      </tr>
      <tr>
          <td><div id="dynamic-position2">Loading..</div></td>
          <td><div id="dynamic-qty2">Loading..</div></td>
          <td><div id="dynamic-pl2">Loading..</div></td>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>
<!-- T Milind -->
<div class="container">
  <table class="table table-responsive table-striped table-bordered">
    <thead>
      <tr>
        <th class="display-9 fw-bold text-primary">Raja Capital</th>
        <th class="display-9 fw-bold text-primary">Stop Loss</th>
        <th class="display-9 fw-bold text-primary">ROI & M2M</th>
      </tr>
      <tr>
        <th><div id="dynamic-rajacapital">Loading..</div></th>
        <th><div id="dynamic-rajasl">Loading..</div></th>
        <th><div id="dynamic-rajaroim2m">Loading..</div></th>
      </tr>
      <tr>
        <th class="display-9 fw-bold text-primary">Positions</th>
        <th class="display-9 fw-bold text-primary">Quantity</th>
        <th class="display-9 fw-bold text-primary">P&L</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><div id="dynamic-position1">Loading..</div></td>
          <td><div id="dynamic-qty1">Loading..</div></td>
          <td><div id="dynamic-pl1">Loading..</div></td>
      </tr>
      <tr>
          <td><div id="dynamic-position2">Loading..</div></td>
          <td><div id="dynamic-qty2">Loading..</div></td>
          <td><div id="dynamic-pl2">Loading..</div></td>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>
<!-- Manohar -->
<div class="container">
  <table class="table table-responsive table-striped table-bordered">
    <thead>
      <tr>
        <th class="display-9 fw-bold text-primary">Raja Capital</th>
        <th class="display-9 fw-bold text-primary">Stop Loss</th>
        <th class="display-9 fw-bold text-primary">ROI & M2M</th>
      </tr>
      <tr>
        <th><div id="dynamic-rajacapital">Loading..</div></th>
        <th><div id="dynamic-rajasl">Loading..</div></th>
        <th><div id="dynamic-rajaroim2m">Loading..</div></th>
      </tr>
      <tr>
        <th class="display-9 fw-bold text-primary">Positions</th>
        <th class="display-9 fw-bold text-primary">Quantity</th>
        <th class="display-9 fw-bold text-primary">P&L</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><div id="dynamic-position1">Loading..</div></td>
          <td><div id="dynamic-qty1">Loading..</div></td>
          <td><div id="dynamic-pl1">Loading..</div></td>
      </tr>
      <tr>
          <td><div id="dynamic-position2">Loading..</div></td>
          <td><div id="dynamic-qty2">Loading..</div></td>
          <td><div id="dynamic-pl2">Loading..</div></td>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>
     </main>      
   </body>
</html>