<!doctype html>
<head>
    <title>Algo-> RAJ Hedging Logic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
          $('#entryButton').click(function() {
            $.ajax({
                    url: '/entryFin',
                    success: function(response) {
                        
                        alert(response);
                    }
                });
            });
            $('#exitButton').click(function() {
            $.ajax({
                    url: '/exitFin',
                    success: function(response) {
                        
                        alert(response);
                    }
                });
            });
            
            function updateText() {
                $.ajax({
                    url: '/getprofitraja75410',
                    success: function(response) {
                        resulttext = response.text.split("~");
                        $('#dynamic-position1').text(resulttext[0]);
                        if (resulttext[1] != "0")
                        {
                          $('#dynamic-qty1').text(resulttext[1]);  
                        }
                        else
                        {
                          $('#dynamic-qty1').text("");  
                        }

                        if (resulttext[4] != "0")
                        {
                          $('#dynamic-qty2').text(resulttext[4]); 
                        }
                        else
                        {
                          $('#dynamic-qty2').text(""); 
                        }

                        if (resulttext[2] != "0")
                        {
                          $('#dynamic-pl1').text(resulttext[2]);
                        }
                        else
                        {
                          $('#dynamic-pl1').text("");
                        }

                        if (resulttext[5] != "0")
                        {
                          $('#dynamic-pl2').text(resulttext[5]);
                        }
                        else
                        {
                          $('#dynamic-pl2').text("");
                        }
                        $('#dynamic-position2').text(resulttext[3]);
                        $('#dynamic-m2m').text(resulttext[6]);
                        //$('#dynamic-m2m').text("-5480");
                        $('#dynamic-sl').text(resulttext[7]);
                        $('#dynamic-roi').text(resulttext[8]);
                        //$('#dynamic-roi').text("");
                        $('#dynamic-capital').text(resulttext[9]);
                        $('#dynamic-finindex').text(resulttext[10]);
                        $('#dynamic-bnindex').text(resulttext[11]);
                        
                    }
                });
            }

            // Update text initially
            updateText();

            // Update text every 2 seconds
            setInterval(updateText, 1000);
        });
    </script>
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <!--<img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/>
            <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> 
            <h1 class="display-6 fw-bold">Hello {{username}}</h1>-->
           
            
            
            
            
        </div>
        <div class="container">
            <table class="table table-responsive table-striped table-bordered">
             
              <tbody>
                <tr>
                    <td><!--<button id="entryButton" class="btn btn-primary btn-lg px-4 gap-3" >Entry</button>--></td>
                    <td align="center">Algo Hedge </td>
                    <td align="right"><!--<button id="exitButton" class="btn btn-primary btn-lg px-4 gap-3" >Exit</button>--></td>
                    
                </tr>
                
              </tbody>
            </table>
        </div>

        <div class="container">
            <table class="table table-responsive table-striped table-bordered">
              <thead>
                <tr>
                  <th>FinNifty</th>
                  <th>BankNifty</th>
                  <th>Near ATM</th>
                  <th>Trade ATM</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td><div id="dynamic-finindex"></div></td>
                    <td><div id="dynamic-bnindex"></div></td>
                    <td><div id="dynamic-natm"></div></td>
                    <td><div id="dynamic-ratm"></div></td>
                </tr>
                
              </tbody>
            </table>
          
        </div>

        <div class="container">
            <table class="table table-responsive table-striped table-bordered">
              <thead>
                <tr>
                  <th>Strategy Positions</th>
                  <th>Quantity</th>
                  <th>P&L</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td><div id="dynamic-position1"></div></td>
                    <td><div id="dynamic-qty1"></div></td>
                    <td><div id="dynamic-pl1"></div></td>
                </tr>
                <tr>
                    <td><div id="dynamic-position2"></div></td>
                    <td><div id="dynamic-qty2"></div></td>
                    <td><div id="dynamic-pl2"></div></td>
                </tr>
                
                <!-- Add more rows as needed -->
              </tbody>
            </table>
          
        </div>

        <div class="container">
            <table class="table table-responsive table-striped table-bordered">
              <thead>
                <tr>
                  <th>Capital</th>
                  <th>Stop Loss</th>
                  <th>ROI</th>
                  <th>M2M</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <td><div id="dynamic-capital"></div></td>
                  <td><div id="dynamic-sl"></div></td>
                  <td><div id="dynamic-roi"></div></td>
                  <td><div id="dynamic-m2m"></div></td>
                </tr>
                <!-- Add more rows as needed -->
              </tbody>
            </table>
          
        </div>
        
     </main>      
   </body>
</html>